<div
  class="example-loading-shade"
  *ngIf="isLoadingResults || isRateLimitReached"
>
  <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
</div>
<div class="table-container">
  <mat-table
    [dataSource]="dataSource"
    matSort
    class="mat-elevation-z8 data-table"
    matSort
    matSortActive="first_name"
    matSortDisableClear
    matSortDirection="desc"
  >
    <ng-container matColumnDef="first_name">
      <mat-header-cell *matHeaderCellDef mat-sort-header
        >firstname</mat-header-cell
      >
      <mat-cell *matCellDef="let user">{{ user.first_name }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="last_name">
      <mat-header-cell *matHeaderCellDef mat-sort-header
        >lastname</mat-header-cell
      >
      <mat-cell *matCellDef="let user">{{ user.last_name }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Email</mat-header-cell>
      <mat-cell *matCellDef="let user">{{ user.email }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="ip_address">
      <mat-header-cell *matHeaderCellDef mat-sort-header
        >ip address</mat-header-cell
      >
      <mat-cell *matCellDef="let user" class="tbl-ip"
        >{{ user.ip_address }}
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef>actions</mat-header-cell>
      <mat-cell *matCellDef="let user">
        <a
          mat-raised-button
          [routerLink]="['/form/users', user.id]"
          color="primary"
          >Edit</a
        >
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="loading">
      <mat-footer-cell *matFooterCellDef colspan="6">
        <mat-spinner></mat-spinner>
      </mat-footer-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-footer-row
      *matFooterRowDef="['loading']"
      [ngClass]="{ hide: dataSource != null }"
    >
    </mat-footer-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>
  <mat-paginator [length]="resultsLength" [pageSize]="30"></mat-paginator>
</div>
